/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #e53935;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección del Restaurante */
.restaurant-info {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.restaurant-photo {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    max-width: 600px;
}

.info h2 {
    color: #e53935;
    margin-bottom: 10px;
}

/* Platos Típicos */
.dishes {
    text-align: center;
}

.dishes h2 {
    color: #e53935;
    margin-bottom: 20px;
}

.dish {
    display: inline-block;
    max-width: 300px;
    margin: 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dish-photo {
    width: 100%;
    height: auto;
    display: block;
}

.dish h3 {
    margin: 10px;
    color: #e53935;
}

.dish p {
    padding: 0 10px 10px;
    color: #555;
}

/* Botón  dce Volver Atrás */
.atras-button {
    display: inline-block;
    background-color: #e53935;
    color: #fff;
    text-decoration: none; /* elimina el subrayado */
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.atras-button:hover {
    background-color: #d32f2f;
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
